html,body{
  height: 100%;
}
#app{
  position: relative;
	display: none;
  height: calc(100% - 56px);
  top: 56px;
  overflow: hidden;
}
#app.loaded{
	display: block;
}
.navbar-expand-md .navbar-collapse {
	display: -ms-flexbox!important;
	display: flex!important;
}
.navbar .status.badge {
	padding: .375rem .75rem;
	font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
	font-size: 1rem;
  line-height: 1.5;
	border: 1px solid transparent;
}
#app .view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  background: #fff;
}
#app .view.fullsize {
  padding: 0;
}
.leds {
	display: flex;
	flex-flow: row wrap;
	max-width: calc(1.2rem * 10 + 1rem);
}
.led {
	width: 1rem;
	height: 1rem;
	margin: .1rem;
	border-radius: 0.3rem;
	border: 1px solid #000;
}
#controls {
	display: flex;
}
#controls div {
	margin: 0 auto;
}
#controls .active{
	text-align: center;
}
#controls .active button {
	width: 75px;
	height: 75px;
}
#controls .active .row {
	margin-bottom: 1rem;
}
.debug-opener {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
#debug {
  position: absolute;
  height: 100%;
  right: -100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  transition: all 1s;
}
#debug.open {
  right: 0;
}
#debug .leds{
	margin: 2rem auto;
}
#debug .logs{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#debug .logs .row{
  padding: .75rem;
}
#debug .logs .head{
  padding: 0 .75rem;
  border-bottom: 2px solid #dee2e6;
}
#debug .logs .body{
  width: 100%;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
#debug .logs .body .log{
  padding-right: 5rem;
}
#debug .logs .row:nth-of-type(odd){
  background: rgba(0, 0, 0, .05);
  border-bottom: 1px solid #dee2e6;
}
.debug-opener {
  width: 38px;
}
@media (min-width: 768px) {
	.leds {
		max-width: calc(2.4rem * 10 + 1rem);
	}
	.led {
		width: 2rem;
		height: 2rem;
		border-radius: 0.5rem;
		margin: 0.2rem;
	}
}
